<h3>Add new expense category</h3>

<form action="/expenses" method="POST">

<label for="expense-name">Expense Category Name</label>
<input type="text" id="expense-name" name="name">
<label for="expense-budget">Monthly Budget</label>
<input type="number" step ="0.01" id="expense-budget" name="budget">
<input type="submit" value="Add category">

</form>
