<h3>Add new expense category</h3>

<form action="/expenses" method="POST">

<label for="expense-name"></label>
<input type="text" id="expense-name" name="name">
<label for="expense-budget"></label>
<input type="number" id="expense-budget" name="budget">
<input type="submit" value="Add category">

</form>
