<h3>Create New Merchant</h3>

<form action="/merchants" method="POST">

<label for="merchant-name"></label>
<input type="text" id="merchant-name" name="name">

<label for="merchant-tag"></label>
<input type="text" id="merchant-tag" name="tag">

<input type="submit" value="Add merchant">
</form>
