<h3>Create New Merchant</h3>

<form class="grid-row" action="/merchants" method="POST">

<label for="merchant-name">Merchant Name</label>
<input required type="text" id="merchant-name" name="name">

<label for="merchant-tag">Default Category</label>
<input type="text" id="merchant-tag" name="tag">

<input class="btn--add btn--sm" type="submit" value="Add">
</form>
