<h3>Welcome</h3>

<p class="btn--wrapper">
  <a class="btn btn--add" href="/transactions/new">Add transaction</a>
</p>
<div class="budget--alert">
<h3>Budget Update</h3>
<p><%= Expense.budget_alert(8) %></p>
<p class="btn-wrapper">
  <a class="btn btn--view" href="/expenses">View Budget</a>
</p>
</div>
