<h1>Home Page</h1>
<div class="grid">

  <div class="grid-row grid-row-sm">
    <div class="cell">
      <p class="home">Transactions</p>
      <p class="btn--wrapper">
        <a class="btn btn--add" href="/transactions/new">Add transaction</a>
      </p>
    </div>
    <div class="cell">
      <p class="home">Bank Balance: £ <%= Bank.total_closing_balance() %></p>
      <p class="btn--wrapper">
        <a class="btn btn--view" href="/banks">View Accounts</a>
      </p>
    </div>
  </div>

  <div class="grid-row grid-row-sm">
    <div class="cell">
      <p class="home">Budget Update</p>
      <p class="home"><%= Expense.budget_alert(8) %></p>
      <p class="btn--wrapper">
        <a class="btn btn--view" href="/expenses">View Budget</a>
      </p>
    </div>
    <div class="cell">
      <p class="home">Coming Soon!</p>
      <p class="home">Add your income categories.</p>
    </div>
  </div>


</div>
