<h3>Add new income category</h3>

<form class="grid-row" action="/incomes" method="POST">
  <label for="income-name">Income Category Name</label>
  <input required type="text" id="income-name" name="name">
  <label for="income-amount">Expected Income</label>
  <input type="number" step="0.01" id="income-amount" name="amount">
  <input class="btn--add btn--sm" type="submit" value="Add Category">
</form>
